## Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import matplotlib as mpl

In [2]:
# define path
path =r"C:\Users\repla\Documents"

In [3]:
#Importing Data Set
df = pd.read_csv(r"C:\Users\repla\Documents\Exercise 6\2 - Data\Original Data\gun-violence-data-copy.csv", index_col = False)

In [4]:
df

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239672,1083142,2018-03-31,Louisiana,Rayne,North Riceland Road and Highway 90,0,0,http://www.gunviolencearchive.org/incident/108...,http://www.klfy.com/news/local/rayne-woman-cha...,False,...,0::25,0::Adult 18+,0::Female,0::Jhkeya Tezeno,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.klfy.com/news/local/rayne-woman-cha...,NaN,NaN
239673,1083139,2018-03-31,Louisiana,Natchitoches,247 Keyser Ave,1,0,http://www.gunviolencearchive.org/incident/108...,http://www.ksla.com/story/37854648/man-wanted-...,False,...,1::21,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Jamal Haskett||1::Jaquarious Tyjuan Ardison,NaN,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.ksla.com/story/37854648/man-wanted-...,23.0,31.0
239674,1083151,2018-03-31,Louisiana,Gretna,1300 block of Cook Street,0,1,http://www.gunviolencearchive.org/incident/108...,http://www.nola.com/crime/index.ssf/2018/04/sh...,False,...,0::21,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.nola.com/crime/index.ssf/2018/04/sh...,85.0,7.0
239675,1082514,2018-03-31,Texas,Houston,12630 Ashford Point Dr,1,0,http://www.gunviolencearchive.org/incident/108...,https://www.chron.com/news/houston-texas/houst...,False,...,0::42,0::Adult 18+,0::Male,0::Leroy Ellis,NaN,0::Killed,0::Victim,http://www.khou.com/article/news/hpd-investiga...,149.0,17.0
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,http://www.gunviolencearchive.org/incident/108...,https://www.centralmaine.com/2018/03/31/police...,False,...,0::58||1::62,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0

In [5]:
df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [6]:
# Remove multiple columns
df.drop(['address', 'incident_url', 'source_url', 'sources', 'participant_name', 'participant_age', 'participant_gender', 'participant_relationship'], axis=1, inplace=True)

In [7]:
# Set the maximum number of displayed columns to None
pd.set_option('display.max_columns', None)

In [8]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,incident_url_fields_missing,congressional_district,gun_stolen,gun_type,incident_characteristics,latitude,location_description,longitude,n_guns_involved,notes,participant_age_group,participant_status,participant_type,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,False,14.0,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,NaN,-79.8559,NaN,Julian Sims under investigation: Four Shot and...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,1,3,False,43.0,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,NaN,-118.3330,NaN,Four Shot; One Killed; Unidentified shooter in...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1,3,False,9.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,Cotton Club,-82.1377,2.0,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,4,0,False,6.0,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,NaN,-104.8020,NaN,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,2,2,False,6.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,NaN,-79.9569,2.0,Two firearms recovered. (Attempted) murder sui...,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,62.0,27.0

In [9]:
# Removing more columns to make sure we are aligned with ethical practices
df.drop(['latitude', 'longitude', 'notes'], axis=1, inplace=True)

In [10]:
# Removing more columns to help clean up the data / remove duplicates / information not helpful to us
df.drop(['incident_url_fields_missing', 'location_description', 'state_house_district', 'state_senate_district'], axis=1, inplace=True)

In [11]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,gun_stolen,gun_type,incident_characteristics,n_guns_involved,participant_age_group,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",2.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",2.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [12]:
# Rename column
df.rename(columns={"congressional_district": "state_code"}, inplace=True)

In [14]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,gun_stolen,gun_type,incident_characteristics,n_guns_involved,participant_age_group,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",2.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",2.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [15]:
# Removing more columns to help clean up the data / remove duplicates / information not helpful to us
df.drop(['gun_stolen', 'gun_type', 'incident_characteristics'], axis=1, inplace=True)

In [16]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,n_guns_involved,participant_age_group,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,2.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,2.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [18]:
# View all unique variables in the 'n_guns_involved' column
uv = df['n_guns_involved'].unique()
print(uv)

[ nan   2.   1.   4.   3.   6.  25.  30.   7.  46. 151.  13.  32.  22.
  12.  21.   5.  15.   8.  17.  29.  47.  42.  73.  50.  39. 138. 280.
   9.  20.  36.  10.  34.  18.  44.  52.  16.  14.  23.  27.  38.  28.
  84.  19.  82.  11. 100.  26.  91.  45. 111.  53.  24. 400. 346. 152.
  41. 103.  48.  55. 107.  35.  49. 170. 338. 183.  70.  62.  76.  98.
  81.  33. 374. 158. 189.  85.  40.  43.  96.  68. 300.  97. 112.  60.
  89. 323.  90. 145. 114. 225. 130. 399. 115.  83.  59. 268.  72.  37.
  80. 191.  66.  31.  99.  67. 200. 276. 127.]

In [19]:
# Removing more columns to help clean up the data / remove duplicates / information not helpful to us
df.drop(['n_guns_involved'], axis=1, inplace=True)

In [20]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_age_group,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [24]:
#Creating test data frame as I create some new columns
df2 = df

In [22]:
df2.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_age_group,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [46]:
df2['adult'] = df2['participant_age_group'].str.contains('Adult 18+')

In [26]:
df2.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_age_group,participant_status,participant_type,adult
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True

In [47]:
df2['teen'] = df2['participant_age_group'].str.contains('Teen 12-17')
df2['child'] = df2['participant_age_group'].str.contains('Child 0-11')

In [28]:
df2.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_age_group,participant_status,participant_type,adult,teen,child
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False

In [48]:
#I've created three new columns, 'adult', 'teen', and 'child'. These are here to indicate if they are present in an
#incident, and are in a much easier to consume value (TRUE/FALSE)

In [42]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_age_group,participant_status,participant_type,adult,teen,child,n_participants
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,1.0
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,1.0
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,1.0

In [50]:
#reverting dataset
df = df2

In [51]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_age_group,participant_status,participant_type,adult,teen,child,n_participants
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,1.0
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,1.0
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,1.0

In [52]:
#making new copy of dataset for testing

In [53]:
df3 = df

In [54]:
df3.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_age_group,participant_status,participant_type,adult,teen,child,n_participants
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,1.0
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,1.0
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,1.0

In [55]:
# Removing more columns to help clean up the data / remove duplicates / information not helpful to us
df3.drop(['participant_age_group'], axis=1, inplace=True)

In [56]:
df3.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_status,participant_type,adult,teen,child,n_participants
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,1.0
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,1.0
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,1.0

In [57]:
#counting values in column 'participant_status'
value_counts = df3['participant_status'].value_counts()

In [58]:
print(value_counts)

participant_status
0::Injured                                                                                                                                         42293
0::Unharmed, Arrested                                                                                                                              25746
0::Killed                                                                                                                                          21216
0::Injured||1::Unharmed                                                                                                                            12680
0::Unharmed                                                                                                                                        11048
                                                                                                                                                   ...
0::Injured||1::Injured||2::Injured||3::Unharmed, Arrested||4::Arrested||5::Arrested||6::Arrested||7::Arrested                                          1
0::Killed||1::Killed||2::Injured||3::Injured||4::Injured||5::Arrested||6::Arrested||7::Arrested||8::Arrested||9::Injured, Arrested||10::Injured        1
0::Killed||1::Killed||2::Injured||3::Injured||4::Injured||5::Injured||6::Injured||7::Injured||8::Injured||9::Injured||10::Injured||11::Killed          1
0::Killed||1::Injured||2::Unharmed, Arrested||4::Unharmed                                                                                              1
0::Injured||1::Unharmed, Arrested||3::Unharmed||4::Unharmed                                                                                            1
Name: count, Length: 2150, dtype: int64

In [59]:
#we'll create new columns from the 'participant_status' column titled 'injured', 'killed', 'arrested', 'unharmed'
# Create new columns based on the values in the 'participant_status' column
df3['killed'] = df3['participant_status'].str.contains('Killed')
df3['injured'] = df3['participant_status'].str.contains('Injured')
df3['arrested'] = df3['participant_status'].str.contains('Arrested')
df3['unharmed'] = df3['participant_status'].str.contains('Unharmed')

In [60]:
df3.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_status,participant_type,adult,teen,child,n_participants,killed,injured,arrested,unharmed
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,False,True,True,False
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,True,True,False,False
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,1.0,True,True,True,True
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,1.0,True,False,False,False
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,1.0,True,True,False,False

In [61]:
# Removing more columns to help clean up the data / remove duplicates / information not helpful to us
df3.drop(['participant_status'], axis=1, inplace=True)

In [62]:
df3.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_type,adult,teen,child,n_participants,killed,injured,arrested,unharmed
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,False,True,True,False
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,True,True,False,False
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,1.0,True,True,True,True
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,1.0,True,False,False,False
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,1.0,True,True,False,False

In [63]:
#reverting dataset
df = df3

In [64]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_type,adult,teen,child,n_participants,killed,injured,arrested,unharmed
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,False,True,True,False
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,True,True,False,False
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,1.0,True,True,True,True
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,1.0,True,False,False,False
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,1.0,True,True,False,False

In [65]:
#creating new dataset for testing
df4 = df

In [66]:
df4.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_type,adult,teen,child,n_participants,killed,injured,arrested,unharmed
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,False,True,True,False
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,True,True,False,False
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,1.0,True,True,True,True
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,1.0,True,False,False,False
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,1.0,True,True,False,False

In [67]:
# Create new columns based on the values in the 'participant_type' column
df4['victims'] = df4['participant_type'].str.count('Victim')
df4['suspects'] = df4['participant_type'].str.count('Subject-Suspect')

In [68]:
df4.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_type,adult,teen,child,n_participants,killed,injured,arrested,unharmed,victims,suspects
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,False,True,True,False,4.0,1.0
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,1.0,True,True,False,False,4.0,1.0
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,1.0,True,True,True,True,3.0,2.0
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,1.0,True,False,False,False,3.0,1.0
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,1.0,True,True,False,False,3.0,1.0

In [69]:
#we're going to change the calculation used in determining the values of 'n_participants'
df4['n_participants'] = df4['victims'] + df4['suspects']

In [70]:
df4.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_type,adult,teen,child,n_participants,killed,injured,arrested,unharmed,victims,suspects
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,5.0,False,True,True,False,4.0,1.0
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,5.0,True,True,False,False,4.0,1.0
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,5.0,True,True,True,True,3.0,2.0
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,4.0,True,False,False,False,3.0,1.0
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,4.0,True,True,False,False,3.0,1.0

In [71]:
#reverting dataset
df = df4

In [75]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,state_code,participant_type,adult,teen,child,n_participants,killed,injured,arrested,unharmed,victims,suspects
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,5.0,False,True,True,False,4.0,1.0
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,0::Victim||1::Victim||2::Victim||3::Victim||4:...,True,False,False,5.0,True,True,False,False,4.0,1.0
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Subject-Suspect||1::Subject-Suspect||2::Vic...,True,False,False,5.0,True,True,True,True,3.0,2.0
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,False,False,4.0,True,False,False,False,3.0,1.0
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Victim||1::Victim||2::Victim||3::Subject-Su...,True,True,False,4.0,True,True,False,False,3.0,1.0

In [76]:
# Removing more columns to help clean up the data / remove duplicates / information not helpful to us
df.drop(['participant_type'], axis=1, inplace=True)

In [77]:
#reordering our columns
df = df[['incident_id', 'date', 'state', 'city_or_county', 'state_code', 'n_participants', 'n_killed', 'n_injured', 'adult', 'teen', 'child', 'killed', 'injured', 'arrested', 'unharmed', 'victims', 'suspects']]

In [78]:
df.head()

,incident_id,date,state,city_or_county,state_code,n_participants,n_killed,n_injured,adult,teen,child,killed,injured,arrested,unharmed,victims,suspects
0,461105,2013-01-01,Pennsylvania,Mckeesport,14.0,5.0,0,4,True,False,False,False,True,True,False,4.0,1.0
1,460726,2013-01-01,California,Hawthorne,43.0,5.0,1,3,True,False,False,True,True,False,False,4.0,1.0
2,478855,2013-01-01,Ohio,Lorain,9.0,5.0,1,3,True,False,False,True,True,True,True,3.0,2.0
3,478925,2013-01-05,Colorado,Aurora,6.0,4.0,4,0,True,False,False,True,False,False,False,3.0,1.0
4,478959,2013-01-07,North Carolina,Greensboro,6.0,4.0,2,2,True,True,False,True,True,False,False,3.0,1.0

In [79]:
#reordering our columns
df = df[['incident_id', 'date', 'state', 'city_or_county', 'state_code', 'n_participants', 'n_killed', 'n_injured', 'victims', 'suspects', 'adult', 'teen', 'child', 'killed', 'injured', 'arrested', 'unharmed']]

In [80]:
df.head()

,incident_id,date,state,city_or_county,state_code,n_participants,n_killed,n_injured,victims,suspects,adult,teen,child,killed,injured,arrested,unharmed
0,461105,2013-01-01,Pennsylvania,Mckeesport,14.0,5.0,0,4,4.0,1.0,True,False,False,False,True,True,False
1,460726,2013-01-01,California,Hawthorne,43.0,5.0,1,3,4.0,1.0,True,False,False,True,True,False,False
2,478855,2013-01-01,Ohio,Lorain,9.0,5.0,1,3,3.0,2.0,True,False,False,True,True,True,True
3,478925,2013-01-05,Colorado,Aurora,6.0,4.0,4,0,3.0,1.0,True,False,False,True,False,False,False
4,478959,2013-01-07,North Carolina,Greensboro,6.0,4.0,2,2,3.0,1.0,True,True,False,True,True,False,False

In [81]:
# Check for NULL values in the entire DataFrame
null_values = df.isnull()

In [82]:
# Display rows with NULL values
df[df.isnull().any(axis=1)]

,incident_id,date,state,city_or_county,state_code,n_participants,n_killed,n_injured,victims,suspects,adult,teen,child,killed,injured,arrested,unharmed
7,479374,2013-01-21,Louisiana,New Orleans,2.0,6.0,0,5,5.0,1.0,NaN,NaN,NaN,False,True,False,False
38,482926,2013-03-16,California,Galt,9.0,7.0,0,7,7.0,0.0,NaN,NaN,NaN,False,True,False,False
40,482942,2013-03-17,Florida,Belle Glade,20.0,5.0,0,5,5.0,0.0,NaN,NaN,NaN,False,True,False,False
92,487266,2013-06-02,Indiana,Indianapolis,7.0,4.0,0,4,4.0,0.0,NaN,NaN,NaN,False,True,False,False
119,490226,2013-06-30,New York,Brooklyn,9.0,10.0,0,9,9.0,1.0,NaN,NaN,NaN,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239666,1081894,2018-03-31,Missouri,Saint Louis,NaN,2.0,1,0,1.0,1.0,False,False,True,True,False,False,True
239668,1081742,2018-03-31,Michigan,Detroit,NaN,1.0,0,1,1.0,0.0,NaN,NaN,NaN,False,True,False,False
239669,1082990,2018-03-31,Wisconsin,Madison,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239670,1081752,2018-03-31,Illinois,Chicago,NaN,2.0,0,1,1.0,1.0,True,False,False,False,True,False,True
239672,1083142,2018-03-31,Louisiana,Rayne,NaN,1.0,0,0,0.0,1.0,True,False,False,False,False,True,True

In [84]:
df.shape

(239677, 17)

In [85]:
#We will remove all of the rows with null values. This will still leave us with 186929 rows.. or 78% of the data
# Remove any row with a null value from the DataFrame
df = df.dropna()

In [86]:
df.shape

(186929, 17)

In [87]:
# Check for NULL values in the entire DataFrame
null_values = df.isnull()

In [88]:
# Display rows with NULL values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [incident_id, date, state, city_or_county, state_code, n_participants, n_killed, n_injured, victims, suspects, adult, teen, child, killed, injured, arrested, unharmed]
Index: []

In [89]:
#We can see all of the rows with NULL values have been removed.

In [98]:
#I'm removing the city_or_county, and state_code columns. I do not believe I will require these.
df.drop(['state_code'], axis=1, inplace=True)

In [99]:
df.head()

,incident_id,date,state,n_participants,n_killed,n_injured,victims,suspects,adult,teen,child,killed,injured,arrested,unharmed
0,461105,2013-01-01,Pennsylvania,5.0,0,4,4.0,1.0,True,False,False,False,True,True,False
1,460726,2013-01-01,California,5.0,1,3,4.0,1.0,True,False,False,True,True,False,False
2,478855,2013-01-01,Ohio,5.0,1,3,3.0,2.0,True,False,False,True,True,True,True
3,478925,2013-01-05,Colorado,4.0,4,0,3.0,1.0,True,False,False,True,False,False,False
4,478959,2013-01-07,North Carolina,4.0,2,2,3.0,1.0,True,True,False,True,True,False,False

In [100]:
df.to_csv(os.path.join(path, 'Exercise 6', '2 - Data', 'Prepared Data', 'gun_violence_data_cleaned.csv'))

In [101]:
#Dataset is saved

In [102]:
df.describe()

,incident_id,n_participants,n_killed,n_injured,victims,suspects
count,1.869290e+05,186929.000000,186929.000000,186929.000000,186929.000000,186929.000000
mean,5.408853e+05,1.836066,0.294796,0.548663,0.908564,0.927502
std,2.906462e+05,1.188938,0.556456,0.751733,0.849369,0.963956
min,9.211400e+04,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.915810e+05,1.000000,0.000000,0.000000,0.000000,0.000000
50%,5.196940e+05,2.000000,0.000000,0.000000,1.000000,1.000000
75%,7.976040e+05,2.000000,1.000000,1.000000,1.000000,1.000000
max,1.083435e+06,103.000000,50.000000,53.000000,102.000000,63.000000